.navbar{
    padding: .8rem;

  
  
  }
 
  .navbar-nav li{
    padding-right: 50px;
  }
  .nav-link{
    font-size: 1.1em !important;
 
font-weight: bolder;

  }
  .fun{
    width: 100%;
    margin-bottom: 2rem;  
  }

  